* {
  font-family: sans-serif;
  text-align: justify;
  background-color: #F9F9F9;
}
#title{
  cursor: pointer;
  margin-bottom: 30px;
}
h4{
  font-size: 20px;
}
p{
  color: black;
}
a:visited {
  color: purple;
}
a.dropdown-item{
  color: blue;
}

.none{
  display: none;
}

