* {
  font-family: sans-serif;
  text-align: justify;
  background-color: #F9F9F9;
}
#title{
  cursor: pointer;
  padding: 10px;
  margin: 10px;
}
h4{
  font-size: 18px;
}
p{
  color: black;
  margin-left: 16px;
}
a:visited {
  color: purple;
}
a.dropdown-item{
  color: blue;;
}

hr{
  margin-top: 5px;
}

button.addButton{
  border-color: gainsboro;
}
button.isAdded{
  background-color: #ADE0EE;
  color:black
}
img{
  background-color: transparent;
}
img.doneIcon{
  margin-left: 10px;
}
img.addIcon{
  margin-left: 10px;
}
#listButton{
  border-color: gainsboro;
}
#listButton.shown{
  background-color: #ADE0EE;
}

.none{
  display: none;
}

