* {
  font-family: sans-serif;
  text-align: justify;
  background-color: #F9F9F9;
}

#title {
  font-size: 16px;
  cursor: pointer;
  width: fit-content;
  color: white;
  font-weight: bold;
  background-color: transparent;
  margin: auto;
  margin-left: 5%;
  margin-right: 10px;
  padding: 8px;
  text-align: left;
  text-shadow: 0.5px 0.5px 0 #6c757d, -0.3px -0.3px 0 #6c757d
}

#listButton {
  background-color: #FFFFFB;
}

#listButton.shown {
  background-color: #ffdde6;
}

#addedToListCounter {
  font-weight: bold;
  color: white;
  background-color: #D75F55;
  border-radius: 30%;
  width: 28px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  margin-top: -24px;
  margin-left: -10px;
}

button.searchButton,
button.searchButton:focus,
button.searchButton:hover {
  color: #6c757d;
  background-color: white;
  border-color: gainsboro;
}

.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show>.btn-secondary.dropdown-toggle {
  color: #6c757d;
  background-color: #E6F9FF;
  border: 1px solid gainsboro;
}

button.searchButton.choosed {
  background-color: #ADE0EE;
  font-weight: bolder;
}

.dropdown-menu {
  background-color: #F9F9F9;
}

span {
  background-color: transparent;
}

h4 {
  font-size: 16px;
  margin-bottom: 2px;
}

ul#linkList {
  padding-left: 20px;
  margin-right: 10px;
}


a:visited {
  color: purple;
}

a.dropdown-item {
  color: #007bff;
}

p {
  font-size: 14px;
  margin-left: 16px;
  margin-bottom: 2px;
}

hr.article {
  margin-top: 5px;
}

button.addButton {
  color: #4D5359;
  justify-content: right;
  align-items: right;
  background-color: white;
  border-color: gainsboro;
  font-size: 14px;
  padding: 4px;
}

button.isAdded {
  background-color: #ffdde6;
}

img {
  background-color: transparent;
}

img.doneIcon {
  margin-left: 5px;
  width: 20px;
  height: 20px;
}

img.addIcon {
  margin-left: 5px;
  width: 20px;
  height: 20px;
}

.dropdown-menu {
  transform: none !important;
  top: auto !important;
}

button.setting-button:hover,button.setting-button:focus{
  border: none;
  border-spacing: none;
}

.none {
  display: none;
}